- if user_signed_in? && current_user.id == @user.id
  .account-page
    .account-page__topimage
      = image_tag "material/logo/logo.png",height: "50px", width: "200px"
    .account-page__form
      = form_for @user, url: user_registration_path do |f|
        .account-page__form__title
          個人情報変更
        .error_explanation
          = render "devise/shared/error_messages", resource: @user
        .field
          .field__title
            = f.label :ニックネーム
            %p 必須
          .field__input
            = f.text_field :nickname, placeholder: "  例）フリマ太郎" 
        .field
          .field__title
            = f.label :メールアドレス
            %p 必須
          .field__input
            = f.email_field :email, placeholder: "  PC,スマホどちらでも可"
        .field
          .field__title
            = f.label :生年月日
            %p 必須
          .field__input
            = f.number_field :birthday, placeholder: "  例）20200101"
        .field
          .field__title
            = f.label :お名前：（全角）
            %p 必須
          .field__input
            = f.text_field :first_name, placeholder: "  例）田中"
          .field__input
            = f.text_field :last_name, placeholder: "  例）太郎"
        .field
          .field__title
            = f.label :お名前：カナ（全角）
            %p 必須
          .field__input
            = f.text_field :first_furigana, placeholder: "  例）タナカ"
          .field__input
            = f.text_field :last_furigana, placeholder: "  例）タロウ"
        .account-page__submit
          = f.submit "変更する" 
          = link_to 'ログアウト', destroy_user_session_path, method: :delete