- if user_signed_in? && current_user.id == @user_address.id
  .account-page
    .account-page__topimage
      = image_tag "material/logo/logo.png",height: "50px", width: "200px"
    .account-page__form
      = form_for @user_address, url:"/user_addresses/#{@user_address.id}" do |f|
        .account-page__form__title
          住所情報変更
        .error_explanation
          = render "devise/shared/error_messages", resource: @user_address
        .field
          .field__title
            = f.label :お名前：（全角）
            %p 必須
          .field__input
            = f.text_field :first_name, placeholder: "  例）田中"
        .field
          .field__input
            = f.text_field :last_name, placeholder: "  例）太郎"
        .field
          .field__title
            = f.label :お名前：セイ（全角）
            %p 必須
          .field__input
            = f.text_field :first_furigana, placeholder: "  例）タナカ"
        .field
          .field__input
            = f.text_field :last_furigana, placeholder: "  例）タロウ"
        .field
          .field__title
            = f.label "郵便番号（数字）"
            %p 必須
          .field__input
            = f.number_field :post, placeholder: "例）0000000" 
        .field
          .field__title
            = f.label :都道府県
            %p 必須
          .field__input
            = f.text_field :preficture, placeholder: "例）東京都" 
        .field
          .field__title
            = f.label :住所
            %p 必須
          .field__input
            = f.text_field :city, placeholder: "例）渋谷区" 
        .field
          .field__title
            = f.label :市区町村
            %p 必須
          .field__input
            = f.text_field :block, placeholder: "例）道玄坂1-1-1" 
        .field
          .field__title
            = f.label :建物名
            %a 任意
          .field__input
            = f.text_field :building, placeholder: "例）◯◯マンション" 
        .field
          .field__title
            = f.label :電話番号
            %a 任意
          .field__input
            = f.number_field :tell_number, placeholder: "例）08011112222" 
        .account-page__submit
          = f.submit "変更する"
          = link_to 'ログアウト', destroy_user_session_path, method: :delete

