<h2>住所情報登録</h2>

<%= form_for @user do |f| %>
  <%= render "devise/shared/error_messages", resource: @user_address %>

  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.number_field :post %>
  </div>

  <div class="field">
    <%= f.label :都道府県 %><br />
    <%# <%= f.text_field :preficture %> %>
  </div>

  <div class="field">
    <%= f.label :住所 %><br />
    <%# <%= f.text_field :city %> %>
  </div>

  <div class="field">
    <%= f.label :市町村 %><br />
    <%# <%= f.text_field :block %> %>
  </div>

  <div class="field">
    <%= f.label :建物名称 %><br />
    <%# <%= f.text_field :building %> %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %><br />
    <%# <%= f.number_field :tell_number %> %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
