- breadcrumb :mypage

= render "shared/header"

.user-page
  = render "shared/side-bar"

  .user-page__main
    .user-page__main__user
      = image_tag "material/icon/member_photo_noimage_thumb.png", class: "user-page__main__user__img"
      .user-page__main__user__name
        =@user.nickname
      .user-page__main__user__status
        出品数 
        %span 
          = @selling_items.count
        %span /
        売却済
        %span
          = @sold_items.count

    .user-page__main__info-tag
      %ul.title-tags
        %li.title-tag.selected-tag
          出品中一覧
        %li.title-tag
          売却済一覧

    .user-page__main__info-list.infomation.show-info
      = render 'shared/user_show_item.html.haml', items: @selling_items
    .user-page__main__info-list.doing
      = render 'shared/user_show_item.html.haml', items: @sold_items

=render partial: "items/senditem", items: @items
