.header
  .header__top
    .header__top__title
      = link_to image_tag("material/logo/logo.png", size: "170x50"),items_path
    .header__top__search
      %input.search-size{type: "text", placeholder: "キーワードから探す"}
    .header__top__search-image
      = image_tag "material/icon/icon-search 1.png", size: "25x25"
  .header__bottom
    .header__bottom__left
      .category
        .category__image
          = image_tag "material/icon/icon_category.png", size: "25x25"
        .category__text
          %nav#dd
            %ul.level0
              %li.position-setting
                %a{href: categories_path} カテゴリーから探す
                %ul.level1
                  - @parents.each do |parent|
                    %li
                      %a{href: category_path(parent.id)}
                        = parent.name
                      %ul.level2
                        - parent.children.each do |child|
                          %li
                            %a{href: category_path(child.id)} 
                              = child.name
                            %ul.level3
                              - child.children.each do |grandchild|
                                %li
                                  %a{href: category_path(grandchild.id)}
                                    = grandchild.name
                  %li
                    %a{href: categories_path}
                      カテゴリー一覧
      .brand
        .brand__image
          = image_tag "material/icon/icon_brand.png", size: "25x25"
        .brand__text
          ブランドから探す
    .header__bottom__right
      - if user_signed_in?
        .user-name
          = link_to "#{current_user.nickname}さんのマイページ", user_path(current_user.id), class: "user-name-btn"
        .logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"
      - else
        .sign-up
          = link_to "新規登録", new_user_registration_path, class: "sign-up-btn"
        .login
          = link_to "ログイン", new_user_session_path, class: "login-btn"

  .breadcrumbs-frame
    = breadcrumbs pretext: "",separator: " &raquo; "