.user-page__side
  - if @user == current_user
    .user-page__side__title
      マイページ
    %ul.user-page__side__contents
      %li.content
        = link_to root_path, class: "content-link" do
          .content-link__tag
            トップページ
          = icon("fas", "chevron-right", class: "right-icon")
      
      %li.content
        = link_to  new_item_path, class: "content-link" do
          .content-link__tag
            出品する
          = icon("fas", "chevron-right", class: "right-icon")

      %li.content
        = link_to  edit_user_registration_path, class: "content-link" do
          .content-link__tag
            本人情報変更
          = icon("fas", "chevron-right", class: "right-icon")

      %li.content
        = link_to new_card_path, class: "content-link" do
          .content-link__tag
            支払い情報変更
          = icon("fas", "chevron-right", class: "right-icon")

      %li.content
        = link_to user_addresses_edit_path, class: "content-link" do
          .content-link__tag
            発送・お届け先住所変更
          = icon("fas", "chevron-right", class: "right-icon")

  - else
    .user-page__side__title
      ="#{@user.nickname}さんのページ"
    %ul.user-page__side__contents
      %li.content
        = link_to root_path, class: "content-link" do
          .content-link__tag
            トップページ
          = icon("fas", "chevron-right", class: "right-icon")
          
      -if current_user
        %li.content
          = link_to user_path(current_user), class: "content-link" do
            .content-link__tag
              自分のマイページ
            = icon("fas", "chevron-right", class: "right-icon")