= link_to "#", class: "info-card" do
  .info-card__img
    = image_tag "material/logo/mercari_profile.png", class: "master-img"
  .info-card__info
    .info-card__info__message
      本日限定！！ポイント５倍キャンペーン
    .info-card__info__date
      2020.07.12
  = icon("fas", "chevron-right", class: "right-icon")

= link_to "#", class: "info-card" do
  .info-card__img
    = image_tag "material/logo/mercari_profile.png", class: "master-img"
  .info-card__info
    .info-card__info__message
      本日限定！！ポイント５倍キャンペーン
    .info-card__info__date
      2020.07.12
  = icon("fas", "chevron-right", class: "right-icon")

= link_to "#", class: "info-card" do
  .info-card__img
    = image_tag "material/logo/mercari_profile.png", class: "master-img"
  .info-card__info
    .info-card__info__message
      本日限定！！ポイント５倍キャンペーン
    .info-card__info__date
      2020.07.12
  = icon("fas", "chevron-right", class: "right-icon")  

= link_to "#", class: "info-card" do
  .info-card__img
    = image_tag "material/logo/mercari_profile.png", class: "master-img"
  .info-card__info
    .info-card__info__message
      本日限定！！ポイント５倍キャンペーン
    .info-card__info__date
      2020.07.12
  = icon("fas", "chevron-right", class: "right-icon")

= link_to "#", class: "info-card" do
  .info-card__img
    = image_tag "material/logo/mercari_profile.png", class: "master-img"
  .info-card__info
    .info-card__info__message
      本日限定！！ポイント５倍キャンペーン
    .info-card__info__date
      2020.07.12
  = icon("fas", "chevron-right", class: "right-icon")