.account-page
  .account-page__topimage
    = image_tag "material/logo/logo.png",height: "50px", width: "200px"
  .account-page__form
    .account-page__form__title
      = "ログイン画面"
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        .field__title
          = f.email_field :email, placeholder: "  メールアドレス"
        
      .field
        .field__title
          = f.password_field :password, autocomplete: "current-password", placeholder: "  パスワード"
      
      .account-page__submit
        %input{type: "submit", value: "ログイン"}
      .field
        = render "devise/shared/links"