.put-item-page
  =form_with model: @item, local: true do |f|
    .put-item-page__topimage
      = image_tag "material/logo/logo.png", height: "50px", width: "200px"
    .put-item-page__form
      =render "items/items_error_list", {item: @item}
      .form-data
        .form-data__item.form-data__image
          .form-title
            %label 出品画像
            .form-title__required
              %label 必須
          .form-condition
            %p 最大10枚までアップロードできます
          #previews
            -if @item.persisted? 
              -@item.images.each_with_index do |image, i| 
                =image_tag image.image.url, data: { index: i }, width: "100", height: '100' 
          .form-input-image
            = f.fields_for :images, @images do |img|
              %div{"data-index": "#{img.index}" ,class:"js-file_group"}
                %label
                  =img.file_field :image, class: 'js-file'
                  %span 画像選択
                %span{class:"js-remove"}
                  削除
              - if @item.persisted?
                = img.check_box :_destroy, data:{ index: img.index }, class: 'hidden-destroy'  
            - if @item.persisted? 
              %div{"data-index": "#{@item.images.count}", class:"js-file_group"}
                %label
                  = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]",id: "item_images_attributes_#{@item.images.count}_id", class: 'js-file'  
                  %span 画像選択
                %span{class:"js-remove"}
                  削除

        .form-data__item
          .form-title
            =f.label "商品名"
            .form-title__required
              %label 必須
          .form-input-text
            =f.text_field :item_name, placeholder: "商品名を入力してください"
          .form-title
            =f.label "商品説明"
            .form-title__required
              %label 必須
          .form-input-textarea
            =f.text_area :explanation, placeholder: "商品の説明\n(色、素材、定価など)\n\n例）2010年ごろ購入したセーターです。ライトグレーで、目立った傷や汚れはございません。"

        .form-data__item
          .form-group
            %label 商品詳細
          .form-title
            =f.label "カテゴリ"
            .form-title__required
              %label 必須
          .form-input-select
            = f.select :category_id3, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          - if @item.persisted?
            %div{class: 'listing-select-wrapper__added', id: 'children_wrapper'}
              %div{class:'listing-select-wrapper__box'}
                =f.select :category_id2, @category_children_array, {}, {class:"listing-select-wrapper__box--select", id:"child_category"}
            %div{class: 'listing-select-wrapper__added', id: 'grandchildren_wrapper'}
              %div{class:'listing-select-wrapper__box'}
                =f.select :category_id, @category_grandchildren_array, {}, {class:"listing-select-wrapper__box--select", id: "grandchild_category"}
          .listing-product-detail__category

          .form-title
            =f.label "ブランド"
            .form-title__any
              %label 任意
          .form-input-text
            =f.collection_select :brand_id, Brand.all, :id, :brand, include_blank: "選択してください"
          .form-title
            =f.label "商品の状態"
            .form-title__required
              %label 必須
          .form-input-select
            =f.collection_select :condition_id, Condition.all, :id, :condition, include_blank: "選択してください"

        .form-data__item
          .form-group
            %label 配送について
          .form-title
            %label 配送元の地域
          .form-input-select 
            %p
              =@address
          .form-title
            =f.label "発送までの日数"
            .form-title__required
              %label 必須
          .form-input-select
            =f.collection_select :ship_date_id, ShipDate.all, :id, :ship_date, include_blank: "選択してください"
          .form-title
            =f.label "配送料の負担について"
            .form-title__required
              %label 必須
          .form-input-select
            =f.collection_select :delivery_fee_id, DeliveryFee.all, :id, :delivery_fee, include_blank: "選択してください"

            
        .form-data__item.form-data__price
          .form-group
            %label 価格(¥300 ~9,999,999)
          .form-price-flex
            .form-title
              =f.label "販売価格"
              .form-title__required
                %label 必須
            =f.number_field :price
          .form-price-flex
            %label 販売手数料
            %label 1000円
          .form-price-flex
            %label 販売利益
            %label 4000円
        .form-data__submit
          =f.submit value: "出品する"
        - if @item.persisted?
          .form-data__delete
            =link_to "出品を取り消す",  item_path(@item), method: :delete, data: { confirm: "削除してよろしいですか？"}