= render "shared/header"

.item-show-page
  .item-show-main
    .item-show-main__item-name
      %h1
        = @item.item_name
    .item-show-main__item-detail
      .item-show-main__item-detail__images
        .slides
          - @item.images.each do |image|
            %ul
              %li
                = image_tag image.image.to_s, size: "300x300"
      .item-show-main__item-detail__item-info
        %table.item-info-table
          %tr
            %th 出品者
            %td 
              = @item.user.nickname
          %tr
            %th カテゴリー
            %td 
              %ul
                - if @categories2.has_parent?
                  %li
                    = link_to category_path(@categories2.parent.id) do
                      = @categories2.parent.name
                  %li
                    = link_to category_path(@categories2.id) do
                      = icon("fas", "angle-right")
                      = @categories2.name
                  %li
                    = link_to category_path(@categories.id) do
                      = icon("fas", "angle-double-right")
                      = @categories.name
                - else
                  %li
                    = link_to "" do
                      = @categories2.name
                  %li
                    = link_to "" do
                      = icon("fas", "angle-right")
                      = @categories.name
          %tr
            %th ブランド
            %td 
              -if @item.brand.present?
                = @item.brand.brand
          %tr
            %th 商品の状態
            %td 
              = @item.condition.condition
          %tr
            %th 配送料の負担
            %td 
              = @item.delivery_fee.delivery_fee
          %tr
            %th 配送元地域
            %td 
              = @item.user.user_address.preficture
          %tr
            %th 発送日の目安
            %td 
              = @item.ship_date.ship_date

    .item-show-main__price-box
      %span.item-price
        = "¥#{@item.price}"
      %span.item-tax (税込)
      %span.item-delivery-fee
        = @item.delivery_fee.delivery_fee
    - unless user_signed_in? && current_user.id == @item.user_id then
      .item-show-main__purchase
        %input{type: "submit", value: "購入画面に進む", class: "item-purchase-btn"}
    .item-show-main__explanation
      =simple_format @item.explanation
  - if user_signed_in? && current_user.id == @item.user_id then
    .item-show-login
      %input{type: "submit",value: "商品の編集", class: "item-edit-btn"}
      %p or
      %input{type: "submit",value: "この商品を削除する", class: "item-destroy-btn"}