= render "shared/header"

.item-show-page
  .item-show-main
    .item-show-main__item-name
      %h1
        = @items.item_name
    .item-show-main__item-detail
      .item-show-main__item-detail--images
        - @items.images.each do |image|
          = image_tag image.image.to_s, size:"300x300"
      .item-show-main__item-detail--item-info
        %table.item-info-table
          %tr
            %th 出品者
            %td 
              = @items.user.nickname
          %tr
            %th カテゴリー
            %td 
              /カテゴリー実装後に記述
          %tr
            %th ブランド
            %td 
              = @items.brand
          %tr
            %th 商品の状態
            %td 
              = @items.condition
          %tr
            %th 配送料の負担
            %td 
              = @items.delivery_fee
          %tr
            %th 配送元地域
            %td 
              = @items.user.user_address.preficture
          %tr
            %th 発送日の目安
            %td 
              = @items.ship_date

    .item-show-main__price-box
      %span.item-price
        = "¥#{@items.price}"
      %span.item-tax (税込)
      %span.item-delivery-fee
        = @items.delivery_fee
    - unless user_signed_in? && current_user.id == @items.user_id then
      .item-show-main__purchase
        %input{type: "submit", value: "購入画面に進む", class: "item-purchase-btn"}
    .item-show-main__explanation
      = @items.explanation
  - if user_signed_in? && current_user.id == @items.user_id then
    .item-show-login
      %input{type: "submit",value: "商品の編集", class: "item-edit-btn"}
      %p or
      %input{type: "submit",value: "この商品を削除する", class: "item-destroy-btn"}