!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample75a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'
    %link{:href => "https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap", :rel => "stylesheet"}/


  %body
    =render 'shared/flash'
    = yield
